.component-app {
  background-color: #fff;
  grid-area: component-app;
  background: #f3f4f6;
  grid-area: macomponent-appin;
  grid-row-start: component-app;
  grid-column-start: component-app;
  grid-row-end: component-app;
  grid-column-end: component-app;
  overflow-y: auto;
}

.page {
  display: flex;
}

.sidebar {
  height: 100vh;
}

.content {
  width: calc(100% - 100px);
}

.content.isOpen {
  width: calc(100% - 280px);
}

.content-components {
  margin-left: 50px;
}
